* {
	font-family: 'Lato', sans-serif;
}

body {
	height: 100vh;
	font-family: 'Lato', sans-serif;
}

form {
	margin-top: 20px;
	display: inline;

}

input {
	height: 34px;
	width: 80%;
	font-size: 14px;
	/*height: 35px;
	width: 70%;*/
	border-radius: 5px;
	border:1px solid lightgrey;
	padding: 5px;
	margin: 10px;
}

.home-container {
	height: 100vh;
	width: 100%;
	background: url("../img/barber.jpg") no-repeat center center fixed;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0px;
}

.btn-home-page {
	width: 80%;
	font-size: 18px;
	margin: 10px;
}



.wrapper {
	width: 70%;
	background-color: rgba(255, 255, 255, 0.5);
	border: none;
	border-radius: 5px;
	padding: 30px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	
}

.main-container {
	display: flex;
	height: 100%;
	padding: 0;
}


.custom-nav {
  background: #B7BEC9;
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/

  
}

.nav-header {
	display: inline-flex;
	justify-content: space-between;
	padding: 10px;

}



.services {
	padding: 10px;
	display: block;
	width: 100%;

}

.checkbox-inline {
	width: 100%;
	display:inline-block;

}


.team {
	display: inline-flex;
	padding: 10px;
}

.team select {
	margin-left: 10px;
	height: 34px;
}

.main {
  background: aliceblue;
  display: flex;
  width: 80%;
}

.bookings {
	width: 100%;
	display: block;
	height: 50%;
	padding: 10px; 
}

.bookings h5 {
	margin-bottom: 20px;
}

.table {
	margin-top-bottom: 30px;
}

.table th {
	text-align: center;
}



.footer {
	height: 50px;
	width: 100%;
	background-color: #4D5058;
	color: #FEFCFA;
	position: absolute;
	bottom: 0;
}





