* {
	font-family: 'Lato', sans-serif;
}

body {
	height: 100vh;
	font-family: 'Lato', sans-serif;
}

form {
	margin-top: 20px;
	display: inline;

}

input {
	height: 34px;
	width: 80%;
	font-size: 14px;
	border-radius: 5px;
	border:1px solid lightgrey;
	padding: 5px;
	margin: 10px;
}

.home-container {
	height: 100vh;
	width: 100%;
	background: url("../img/barber.jpg") no-repeat center center fixed;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0px;
}

.btn-home-page {
	width: 80%;
	font-size: 18px;
	margin: 10px;
}



.wrapper {
	width: 70%;
	background-color: rgba(255, 255, 255, 0.5);
	border: none;
	border-radius: 5px;
	padding: 30px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	
}

.main-container {
	display: flex;
	height: 100%;
	padding: 0;
}


.nav {
  background: #B7BEC9;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: stretch;
}

.nav-header {
	width: 100%;
	display: inline-flex;
	justify-content: space-between;
	padding: 10px;

}




.booking-title {
	flex: auto;
}

.services {
	flex: auto;
	padding: 10px;

}

.checkbox-inline {
	width: 100%;

}


.team {
	display: inline-flex;
	padding: 10px;
}

.main {
  background: aliceblue;
  display: flex;
}

.footer {
	height: 50px;
	width: 100%;
	background-color: #4D5058;
	color: #FEFCFA;
	position: absolute;
	bottom: 0;
}



