* {
	font-family: 'Lato', sans-serif;
}

body {
	height: 100vh;
	font-family: 'Lato', sans-serif;
}




form {
	margin-top: 20px;
	display: inline;

}

input {
	height: 50px;
	width: 70%;
	font-size: 20px;
	border-radius: 5px;
	border:1px solid lightgrey;
	padding: 5px;
	margin: 10px;
}

.home-container {
	height: 100vh;
	width: 100%;
	background: url("../img/barber.jpg") no-repeat center center fixed;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0px;
}

.btn-home-page {
	height: 50px;
	width: 150px;
	font-size: 20px;
	margin: 10px;
}

.wrapper {
	width: 70%;
	background-color: rgba(255, 255, 255, 0.1);
	border: 1px solid lightgrey;
	border-radius: 5px;
	padding: 30px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	
}

.main-body {
	height: 100vh;
	background-color: #D6EAF8;
}

.footer {
	height: 50px;
	width: 100%;
	background-color: #2E4053;
	position: absolute;
	bottom: 0;
}